<app-nav></app-nav>
<div fxLayout="row" fxLayoutAlign="center center" style="height: 80vh">
  <!-- <div fxFlex="50">
        hii
    </div> -->
  <!-- <div fxFlex="50"> -->
  <div>
    <form (ngSubmit)="loginProcess()" [formGroup]="formGroup">
      <h1>Log-in</h1>
      <input
        placeholder="Enter E-Mail"
        type="email"
        required
        formControlName="email"
      />
      <input
        placeholder="Enter Password"
        type="password"
        required
        formControlName="password"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- </div> -->
</div>
