<header>
  <h3 class="title">my<b>TODO</b></h3>
  <div class="batch-action">
    <button
      class="btn-action btn-delete"
      (click)="deleteTodos()"
      *ngIf="!selectedTodos.isEmpty()"
    >
      Delete
    </button>
  </div>
</header>
<div class="container">
  <form class="add-todo-form">
    <input
      class="todo-text"
      name="title"
      type="text"
      [(ngModel)]="todoTitle"
      placeholder="Title"
    />
    <textarea
      class="todo-text"
      name="content"
      cols="30"
      rows="10"
      [(ngModel)]="todoContent"
      placeholder="Content.."
    ></textarea>
    <button class="btn-add" type="button" (click)="addTodo()">Add Todo</button>
  </form>
  <ul class="list">
    <li class="todo-item" *ngFor="let todo of todoList.toArray()">
      <app-to-do-main-page [todo]="todo"></app-to-do-main-page>
    </li>
  </ul>
</div>
