<div class="todo" *ngFor="let i of todo">
  <h4 class="title">{{ i.title }}</h4>
  <div class="content">
    <p>{{ i.content }}</p>
  </div>
  <div class="action">
    <button class="btn-action btn-delete" (click)="delete(i)">Delete</button>
    <!-- <button
      class="btn-action btn-select"
      (click)="select()"
      *ngIf="!selectedTodos.contains(todo)"
    >
      Select
    </button> -->
    <button
      class="btn-action btn-unselect"
      (click)="goToEdit(i)"
    >
      Edit
    </button>
  </div>
</div>
